<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>旅游网站-门户</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/iconfont/iconfont.css">
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/zshop.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link rel="stylesheet"  href="/css/bootstrapValidator.css" />
    <script src="/js/bootstrap-paginator.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/zero.css" />
    <script type="text/javascript" th:inline="javascript">
        $(function () {
           let msg =  [[${msg}]];
           if(msg != null && msg != ''){
               layer.alert(msg);
           }
        });

        $(function () {
            //TODO:分页
            $("#paginator").bootstrapPaginator({
                bootstrapMajorVersion: 3,  //版本
                currentPage:[[${pageInfo.getPageNum()}]],   //当前页码
                totalPages:[[${pageInfo.getPages()}]],    //总页数
                itemTexts:function (type, page, current) {  //设置显示样式
                    switch (type) {
                        case 'first':
                            return '首页';
                        case 'prev':
                            return '上一页';
                        case 'next':
                            return '下一页';
                        case 'last':
                            return '尾页';
                        case 'page':
                            return page;
                    }
                },
                onPageClicked: function (event,originalEvent,type,page) {
                    $("#pageNum").val(page);
                    $("#form-route-search").submit();
                }
            });
        });

    </script>
</head>

<body>
    <div id="wrapper">
        <!-- navbar start -->
        <div th:replace="front/top::header"></div>
        <!-- navbar end -->

        <!-- content start -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header" style="margin-bottom: 0px;">
                        <h3>主页：旅游线路列表</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form id="form-route-search" class="form-inline hot-search" action="/front/search">
                        <input type="hidden" name="pageNum" id="pageNum">
                        <div class="form-group">
                            <label class="control-label">线路名称：</label>
                            <input th:value="${searchQuery.routeName}" type="text" class="form-control" placeholder="线路名称" name="routeName">
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <label class="control-label">价格：</label>
                            <input th:value="${searchQuery.minPrice}" type="text" class="form-control" placeholder="最低价格" name="minPrice"> --
                            <input th:value="${searchQuery.maxPrice}" type="text" class="form-control" placeholder="最高价格" name="maxPrice">
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <label class="control-label">所属商家：</label>
                            <select class="form-control" name="sellerId">
                                <option value="-1">--全部--</option>
                                <option th:selected="${seller.sellerId == searchQuery.sellerId}" th:each="seller:${sellers}" th:text="${seller.sellerName}" th:value="${seller.sellerId}"></option>
                            </select>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <div class="content-back">
            <div class="container" id="a">
                <div class="row">
                    <br>
                    <div class="col-xs-4  hot-item" th:each="route:${pageInfo.list}">
                        <div class="panel clear-panel" style="background-color: white">
                            <div class="panel-body">
                                <div class="art-back clear-back">
                                    <div class="add-padding-bottom">
                                        <img th:src="@{/backend/route/getImage(path=${route.imageUrl})}" style="width: 101%;height: 210px;">
                                    </div>
                                    <h4><a href="" th:text="${route.routeName}"></a></h4>
                                    <div class="user clearfix pull-right">
                                        ￥<span th:text="${route.price}"></span>
                                    </div>
                                    <div class="desc" th:text="${route.routeIntroduce}"></div>
                                    <div class="attention pull-right route-details" th:onclick="routeDetails([[${route}]])">
                                        查看详情 <i class="icon iconfont icon-jiankuohaoxizuo" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <ul id="paginator"></ul>
            <div class=""><strong>共[[${pageInfo.getTotal()}]]条记录</strong></div>
        </div>
        <!-- content end-->
        <!-- footers start -->
        <div class="footers">
            毕业设计-LJC 管理员邮箱: 1725088658@qq.com
        </div>
        <!-- footers end -->
    </div>

</body>

</html>