<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>我的收藏</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/iconfont/iconfont.css">
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/zshop.js"></script>
</head>

<body>
    <!-- navbar start -->
    <div th:replace="front/top::header"></div>
    <!-- navbar end -->
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header" style="margin-bottom: 0px;">
                    <h3>收藏列表</h3>
                </div>
            </div>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>线路ID</th>
                <th>线路名称</th>
                <th>线路图片</th>
                <th>参考价格</th>
                <th>收藏时间</th>
                <th>操作</th>
            </tr>
            <tr th:each="favorite:${favoriteList}">
                <td th:text="${favorite.routeId}"></td>
                <td th:text="${favorite.routeName}"></td>
                <td> <img th:src="@{/backend/route/getImage(path=${favorite.imageUrl})}" alt="" width="60" height="60"></td>
                <td th:text="${favorite.price}"></td>
                <td th:text="${#dates.format(favorite.time,'YYYY-MM-dd HH:mm:ss')}"></td>
                <td>
                    <button class="btn btn-success" type="button">查看详情</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger" type="button" onclick="">删除</button>
                </td>
            </tr>

            <tr>
                <td colspan="7" align="right">
                    <button class="btn btn-warning  margin-right-15" type="button">清空收藏</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- content end-->
    <!-- footers start -->
    <br>
    <br>
    <br>
    <div class="footers">
        毕业设计-LJC 管理员邮箱: 1725088658@qq.com
    </div>
    <!-- footers end -->

</body>

</html>