<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--前台门户网站的所有的模态框以及网页的头部都定义在这里-->
    <header th:fragment="header">
        <script src="/js/bootstrapValidator.js"></script>
        <link rel="stylesheet"  href="/css/bootstrapValidator.css" />
        <!--弹窗-->
        <script type="text/javascript" src="/layer/layer.js"></script>
        <link rel="stylesheet" href="/css/zero.css" />
        <script type="text/javascript" th:inline="javascript">

            function login() {
                $("#loginInfo").html('');
                $.post(
                    '/front/account/login',
                    $("#form-login").serialize(),
                    function (result) {
                        if (result.code == 200){
                            $("#loginModal").modal("hide");
                            location.href = "/front/search";
                        }
                        if (result.code == 500){
                            $("#loginInfo").html(result.msg);
                        }
                    }
                );
            };

            function logout() {
                $.post(
                    '/front/account/logout',
                    function (result) {
                       if (result.code == 200){
                           layer.msg(result.msg,{
                               time: 3000
                           });
                           setTimeout(function () {
                               location.href = "/front/search";
                           },3000);
                       }else {
                           layer.alert(result.msg);
                       }
                    }
                );
            };

            function register(){
                $("#registerInfo").html('');
                $.post(
                    '/front/account/register',
                    $("#form-register").serialize(),
                    function (result) {
                        if (result.code == 200){
                            $("#registModal").modal("hide");
                            layer.msg(result.msg,{
                                time: 3000
                            });
                            $("#loginModal").modal("show");
                        }
                        if (result.code == 500){
                            $("#registerInfo").html(result.msg);
                        }
                    }
                );
            };

            function modifyPassword() {
                $.post(
                    '/front/account/modifyPassword',
                    $("#form-modify-password").serialize(),
                    function (result) {
                        if (result.code == 200){
                            $("#modifyPasswordModal").modal("hide");
                            layer.msg(result.msg,{
                                time: 3000
                            });
                            setTimeout(function () {
                                location.href = "/front/search";
                            },3000);
                        }
                        if (result.code == 500){
                            $("#modifyPasswordInfo").html(result.msg);
                        }
                    }
                );
            };

            /**
             * 查看线路详情-主页
             * @param route
             */
            function routeDetails(route) {
                //商家信息需要从后端获取并处理
                $.post(
                    '/front/account/sellerInfo',
                    {sellerId:route.sellerId},
                    function (result) {
                        if (result.code == 200){
                            let seller = result.data;
                            let sellerInfo = '【商家】'+seller.sellerName+'\n'+'【联系方式】'+seller.phone+'\n'+'【地址】'+seller.address;
                            //填充信息
                            let path = route.imageUrl;
                            $("#route-id").val(route.routeId);
                            $("#route-name").val(route.routeName);
                            $("#route-price").val(route.price);
                            $("#route-introduce").val(route.routeIntroduce);
                            $("#strategy").val(route.strategy);
                            $("#seller-info").val(sellerInfo)
                            $("#routeImage").attr('src','/backend/route/getImage?path='+path);

                            //打开详情模态框 增加用户收藏按钮
                            $("#routeDetailsModal").modal("show");
                        }else {
                            layer.alert(result.msg);
                        }
                    }
                );
            };

            /**
             * 查看线路详情-我的收藏
             */
            function routeFavoriteDetails(favorite) {
                let sellerInfo = '【商家】'+favorite.sellerName+'\n'+'【联系方式】'+favorite.phone+'\n'+'【地址】'+favorite.address;
                //填充信息
                let path = favorite.imageUrl;
                $("#route-id").val(favorite.routeId);
                $("#route-name").val(favorite.routeName);
                $("#route-price").val(favorite.price);
                $("#route-introduce").val(favorite.routeIntroduce);
                $("#strategy").val(favorite.strategy);
                $("#seller-info").val(sellerInfo)
                $("#routeImage").attr('src','/backend/route/getImage?path='+path);

                //打开详情模态框 禁用 收藏按钮
                $(".favoriteRoute-btn").attr("disabled","disabled");
                $("#routeDetailsModal").modal("show");
            }

            /**
             * 查看线路详情-我的收藏
             */
            function routeHotRouteDetails(hotRooute) {
                let sellerInfo = '【商家】'+hotRooute.sellerName+'\n'+'【联系方式】'+hotRooute.phone+'\n'+'【地址】'+hotRooute.address;
                //填充信息
                let path = hotRooute.imageUrl;
                $("#route-id").val(hotRooute.routeId);
                $("#route-name").val(hotRooute.routeName);
                $("#route-price").val(hotRooute.price);
                $("#route-introduce").val(hotRooute.routeIntroduce);
                $("#strategy").val(hotRooute.strategy);
                $("#seller-info").val(sellerInfo)
                $("#routeImage").attr('src','/backend/route/getImage?path='+path);

                //打开详情模态框
                $("#routeDetailsModal").modal("show");
            }

            //添加收藏
            function addFavorite() {
                let routeId = $("#route-id").val();
                $.post(
                    '/front/account/addFavorite',
                    {routeId:routeId},
                    function (result) {
                        if (result.code == 200){
                            /*$(".favoriteRoute-btn").attr("disabled","disabled");*/
                            layer.msg("收藏成功!",{
                                time: 1500
                            });
                        }else {
                            layer.alert(result.msg);
                        }
                    }
                );
            };

        </script>


        <!-- navbar start -->
        <div class="navbar navbar-default clear-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand logo-style" href="#">
                        <img class="brand-img" src="/images/com-logo1.png" alt="logo" height="70">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--class="active" 选择-->
                        <li>
                            <a th:href="@{/front/search}">主页</a>
                        </li>
                        <li>
                            <a th:href="@{/front/hotRoute}">热门线路排行榜</a>
                        </li>
                        <li>
                            <a th:href="@{/front/myFavorite}">我的收藏</a>
                        </li>
                        <li>
                            <a th:href="@{/front/info}">会员中心</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/showLogin">后台管理</a>
                        </li>
                        <li th:if="${session.currentUser==null}">
                            <a data-toggle="modal" data-target="#loginModal">登陆</a>
                        </li>
                        <li th:if="${session.currentUser==null}">
                            <a data-toggle="modal" data-target="#registModal">注册</a>
                        </li>

                        <li class="userName" th:unless="${session.currentUser==null}">
                            您好: <span th:text="${session.currentUser.name}"></span>！
                        </li>
                        <li class="dropdown" th:unless="${session.currentUser==null}">
                            <a href="#" class="dropdown-toggle user-active" data-toggle="dropdown" role="button">
                                <img class="img-circle" src="/images/user.png" height="30" />
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modifyPasswordModal">
                                        <i class="glyphicon glyphicon-cog"></i>修改密码
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="logout()">
                                        <i class="glyphicon glyphicon-off"></i> 退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- navbar end -->

        <!-- 修改密码模态框 start -->
        <div class="modal fade" id="modifyPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel-">修改密码&nbsp;&nbsp;&nbsp;<small id="modifyPasswordInfo" class="text-danger"></small></h4>
                    </div>
                    <form action="#" id="form-modify-password" class="form-horizontal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">原密码：</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="oldPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码：</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="newPasswordOne">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">重复密码：</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="newPasswordTwo">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: center">
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">关&nbsp;&nbsp;闭</button>
                            <button type="reset" class="btn btn-warning">重&nbsp;&nbsp;置</button>
                            <button type="button" class="btn btn-warning" onclick="modifyPassword()">修&nbsp;&nbsp;改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 修改密码模态框 end -->

        <!-- 登录模态框 start  -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <!-- 用户名密码登陆 start -->
                <div class="modal-content" id="login-account">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">用户名密码登录&nbsp;&nbsp;&nbsp;<small id="loginInfo" class="text-danger"></small></h4>
                    </div>
                    <form id="form-login" class="form-horizontal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名：</label>
                                <div class="col-sm-6">
                                    <input name="username" class="form-control" type="text" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                                <div class="col-sm-6">
                                    <input name="password" class="form-control" type="password" placeholder="请输入密码">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: center">
                            <button type="button" class="btn btn-warning" onclick="login()">登&nbsp;&nbsp;陆</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">关&nbsp;&nbsp;闭</button>
                            &nbsp;<a class="btn-link">忘记密码？</a>
                        </div>
                    </form>
                </div>
                <!-- 用户名密码登陆 end -->
            </div>
        </div>
        <!-- 登录模态框 end  -->

        <!-- 注册模态框 start -->
        <div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">用户注册&nbsp;&nbsp;&nbsp;<small id="registerInfo" class="text-danger"></small></h4>
                    </div>
                    <form action="#" id="form-register" class="form-horizontal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户姓名:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">登陆账号:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">登录密码:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">电子邮箱:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: center">
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">关&nbsp;&nbsp;闭</button>
                            <button type="reset" class="btn btn-warning">重&nbsp;&nbsp;置</button>
                            <button type="button" class="btn btn-warning" onclick="register()">注&nbsp;&nbsp;册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 注册模态框 end -->

        <!-- 查看旅游线路详情 start -->
        <div class="modal fade" tabindex="-1" id="routeDetailsModal">
            <!-- 窗口声明 -->
            <div class="modal-dialog modal-lg">
                <!-- 内容声明 -->
                <form method="post" id="routeDetailsForm" class="form-horizontal">
                    <div class="modal-content">
                        <!-- 头部、主体、脚注 -->
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">旅游线路详情</h4>
                        </div>
                        <div class="modal-body text-center row">
                            <input type="hidden" name="routeId" id="route-id">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">线路名称：</label>
                                    <div class="col-sm-8">
                                        <textarea form="routeDetailsForm" id="route-name" style="width: 370px" rows="1" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">参考价格：</label>
                                    <div class="col-sm-8">
                                        <textarea form="routeDetailsForm" id="route-price" style="width: 370px" rows="1" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">线路简介：</label>
                                    <div class="col-sm-8">
                                        <textarea form="routeDetailsForm" id="route-introduce" style="width: 370px" rows="4" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">出行攻略：</label>
                                    <div class="col-sm-8">
                                        <textarea form="routeDetailsForm" id="strategy" style="width: 370px" name="strategy"  rows="6" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">商家信息：</label>
                                    <div class="col-sm-8">
                                        <textarea form="routeDetailsForm" id="seller-info" style="width: 370px" name="strategy"  rows="3" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- 显示图像预览 -->
                                <img style="width: 160px;height: 180px;" id="routeImage">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning favoriteRoute-btn" type="button" onclick="addFavorite()">收藏</button>
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 查看旅游线路详情 end -->

        <!-- 确认清除收藏模态框 start -->
        <div class="modal fade" tabindex="-1" id="clearFavoriteModal">
            <!-- 窗口声明 modal-lg-->
            <div class="modal-dialog ">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">信息提示</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4 style="color: red">您确认要清空收藏吗(清空之后不可恢复)?</h4>
                    </div>
                    <div class="modal-footer">
                        <button id="confirmReset" class="btn btn-primary addProductType" onclick="confirmClear()" data-dismiss="modal">确定</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 确认清除收藏模态框 end -->
    </header>

</html>