<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/iconfont/iconfont.css">
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/zshop.js"></script>

    <script type="text/javascript">
        function modifyUserInfo() {
            $.post(
                '/front/account/modifyUserInfo',
                $("#form-modify-userInfo").serialize(),
                function (result) {
                    if (result.code == 200){
                        layer.msg(result.msg,{
                            time: 2000
                        });
                        setTimeout(function () {
                            location.href = '/front/info';
                        },2000);
                    }
                    if (result.code == 500){
                        layer.open({
                            title: '错误提示',
                            content: result.msg
                        });
                    }
                }
            );
        }
    </script>
</head>

<body>
    <!-- navbar start -->
    <div th:replace="front/top::header"></div>
    <!-- navbar end -->

    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header" style="margin-bottom: 0px;">
                    <h3>会员中心：基本资料</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form id="form-modify-userInfo" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-2  col-sm-2 control-label">用户姓名:</label>
                <div class="col-md-8 col-sm-10">
                    <input th:value="${currUser.name}" name="name" type="text" class="form-control" id="name" placeholder="用户姓名" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="username" class="col-md-2 col-sm-2 control-label">登陆账号:</label>
                <div class="col-md-8  col-sm-10">
                    <input th:value="${currUser.username}" name="username" type="text" class="form-control" id="username" placeholder="登陆账号" readonly="readonly" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="email" class="col-md-2  col-sm-2 control-label">电子邮箱:</label>
                <div class="col-md-8 col-sm-10">
                    <input th:value="${currUser.email}" name="email" type="text" class="form-control" id="email" placeholder="电子邮箱" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="createDate" class="col-md-2   col-sm-2  control-label">注册时间:</label>
                <div class="col-md-8 col-sm-10">
                    <input th:value="${#dates.format(currUser.createTime)}" type="text" class="form-control" id="createDate" readonly>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-warning" onclick="modifyUserInfo()">确认修改</button>
                </div>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- content end-->
    <!-- footers start -->
    <div class="footers">
        毕业设计-LJC 管理员邮箱: 1725088658@qq.com
    </div>
    <!-- footers end -->

</body>

</html>