<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
	<title>旅游网站-后台管理系统</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/myLogin.css" />
	<script src="/js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!--表单校验-->
	<script src="/js/bootstrapValidator.js"></script>
	<link rel="stylesheet"  href="/css/bootstrapValidator.css" />
	<!--弹窗-->
	<script type="text/javascript" src="/layer/layer.js"></script>
	<link rel="stylesheet" href="/css/zero.css" />

	  <script th:inline="javascript">
		$(function (){
			$("#loginForm").bootstrapValidator({
				feedbackIcons:{
					valid:'glyphicon glyphicon-ok',
					invalid:'glyphicon glyphicon-remove',
					validating:'glyphicon glyphicon-refresh'
				},
				//校验规则
				fields:{
					username: {
						validators:{
							//非空校验
							notEmpty:{
								message:'用户名不能为空'
							}
						}
					},
					password: {
						validators: {
							//非空校验
							notEmpty:{
								message:'密码不能为空'
							}
						}
					},
					code: {
						validators: {
							//非空校验
							notEmpty:{
								message:'请输入验证码'
							},
							//发送ajax请求(默认GET请求)进行校验,将表单项当做参数传递到后台
							remote:{
								url:'/code/checkCode',
								message: '验证码错误'
							}
						}
					}
				}
			});

			//登录失败提示消息
			let errorMsg = [[${errorMsg}]];
			if (errorMsg!=null){
				layer.msg(errorMsg,{
					skin: 'errorMsg',
					time: 3000
				});
			}

		});
		function reloadCode() {
			$("#randCode").attr('src','/code/image?time='+new Date().getTime());
			$("#checkCode").val("");
		}
	</script>
  </head>
  <body>
  	<!-- 使用自定义css样式 div-signin 完成元素居中-->
    <div class="container div-signin">
      <div class="panel panel-primary div-shadow">
      	<!-- h3标签加载自定义样式，完成文字居中和上下间距调整 -->
	    <div class="panel-heading">
	    	<h3>旅游网站后台管理系统</h3>
	    	<span>Travel Manager System</span>
	    </div>
	    <div class="panel-body">
	      <!-- login form start -->
	      <form id="loginForm" action="/backend/sysUser/login" class="form-horizontal" method="post">
		     <div class="form-group">
		       <label class="col-sm-3 control-label">用户名：</label>
		       <div class="col-sm-9">
		         <input class="form-control" type="text" name="username" placeholder="请输入用户名">
		       </div>
		    </div>
		     <div class="form-group">
		       <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
		       <div class="col-sm-9">
		         <input class="form-control" type="password" name="password" placeholder="请输入密码">
		       </div>
		    </div>
		     <div class="form-group">
		       <label class="col-sm-3 control-label">验证码：</label>
		       <div class="col-sm-4">
		         <input id="checkCode" class="form-control" type="text" name="code" placeholder="验证码">
		       </div>
		       <div class="col-sm-2">
		       	  <!-- 验证码 -->
			      <img id="randCode" class="img-rounded" src="/code/image" style="height: 32px; width: 70px;"/>
		       </div>
		       <div class="col-sm-2">
		         <button type="button" class="btn btn-link" onclick="reloadCode()">看不清</button>
		       </div>
		    </div>
		    <div class="form-group">
		       <div class="col-sm-3">
		       </div>
		       <div class="col-sm-9 padding-left-0">
		       	 <div class="col-sm-4">
			         <button type="submit" class="btn btn-primary btn-block">登&nbsp;&nbsp;陆</button>
		       	 </div>
		       	 <div class="col-sm-4">
			         <button type="reset" class="btn btn-primary btn-block">重&nbsp;&nbsp;置</button>
		       	 </div>
		       	 <!--<div class="col-sm-4">
			         <button type="button" class="btn btn-link btn-block">忘记密码？</button>
		       	 </div>-->
		       </div>
		    </div>
	      </form>
	      <!-- login form end -->
	    </div>
	  </div>
    </div>
    <!-- 页尾 版权声明 -->
<!--    <div class="container">-->
<!--		<div class="col-sm-12 foot-css">-->
<!--		        <p class="text-muted credit">-->
<!--		            Copyright -->
<!--		        </p>-->
<!--	    </div>-->
<!--    </div>-->
  
  </body>
</html>
