<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>旅游网站-后台管理系统</title>
    <link rel="stylesheet"  href="/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/css/index.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/userSetting.js"></script>
    <script type="text/javascript">
    $(function(){
        //TODO:切换页面时将当前用户的id作为参数，在后端判断是否具有相关的操作权限，如果没有则跳转到提示页面，提示内容:当前用户没有操作权限
    	// 点击切换页面
        $("#welcome-set").click(function() {
            $("#frame-id").attr("src", "/welcome");
        });
	    $("#route-set").click(function() {
            $("#frame-id").attr("src", "/backend/");
        });
        $("#seller-set").click(function() {
            $("#frame-id").attr("src", "/backend/seller/findAll");
        });
        $("#user-set").click(function() {
            $("#frame-id").attr("src", "/backend/");
        });
        $("#sysUser-set").click(function() {
            $("#frame-id").attr("src", "/backend/sysUser");
        });
    });
    </script>
</head>

<body>
    <div class="wrapper-cc clearfix">
        <div class="content-cc">
            <!-- header start -->
            <div class="clear-bottom head">
                <div class="container head-cc">
                    <p>旅游网站<span>后台管理系统</span></p>
                    <div class="welcome">
                        <div class="left">欢迎您：</div>
                        <div class="right" th:text="${currentUser.name}"></div>
                        <div class="exit">退出</div>
                    </div>
                </div>
            </div>
            <!-- header end -->
            <!-- content start -->
            <div class="container-flude flude-cc" id="a">
                <div class="row user-setting">
                    <div class="col-xs-2 user-wrap">
                        <ul class="list-group">
                            <li class="list-group-item active" name="welcomeSet" id="welcome-set">
                                <i class="glyphicon glyphicon-lock"></i> &nbsp;首页
                            </li>
                            <li class="list-group-item" name="userSet" id="route-set">
                                <i class="glyphicon glyphicon-lock"></i> &nbsp;旅游线路管理
                            </li>
                            <li class="list-group-item" name="userPic" id="seller-set">
                                <i class="glyphicon glyphicon-facetime-video"></i> &nbsp;商家管理
                            </li>
                            <li class="list-group-item" name="userInfo" id="user-set">
                                <i class="glyphicon glyphicon-user"></i> &nbsp;客户管理
                            </li>
                            <li class="list-group-item" name="adminSet" id="sysUser-set">
                                <i class="glyphicon glyphicon-globe"></i> &nbsp;系统用户管理
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-10" id="userPanel">
                        <iframe id="frame-id" src="/welcome" width="100%" height="100%" frameborder="0" scrolling="no">
                        </iframe>
                    </div>

                </div>
            </div>
            <!-- content end-->
        </div>
    </div>
    <!-- footers start -->
    <div class="footer"></div>
    <!-- footers end -->
</body>

</html>