<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet"  href="/css/file.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/css/index.css" />
    <script src="/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link rel="stylesheet"  href="/css/bootstrapValidator.css" />
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/zero.css" />
    <script type="text/javascript" th:inline="javascript">

        $(function(){
            //上传图像预览
            $('#add-route-image').on('change',function() {
                $('#img').attr('src', window.URL.createObjectURL(this.files[0]));
            });        
            $('#update-route-image').on('change',function() {
                $('#img2').attr('src', window.URL.createObjectURL(this.files[0]));
            });


            //模态框显示
            $(".doRouteModify").on("click", function() {
                _this = this; //this是事件源
                $("#myProduct").modal("show");
            });


            $("#doAddRoute").on("click", function() {
                _this = this; //this是事件源
                $("#Product").modal("show");
            });

            //关闭 简介、攻略模态框
            $(".close-route-introduce").on("click", function() {
                $("#routeIntroduceModal").modal("hide");
            });

            $(".close-strategy").on("click", function() {
                $("#strategyModal").modal("hide");
            });

            //关闭删除模态框
            $(".doRouteDelete").on("click",function () {
                $("#removeRouteModel").modal("hide");
            })

            let msg = [[${msg}]];
            if (msg != null&& msg !=''){
                layer.alert(msg);
            }
        });


    </script>
    <script type="text/javascript" th:inline="javascript">
        $(function (){
            //TODO:客户端表单校验
            $("#addRouteForm").bootstrapValidator({
                //根据验证结果显示各种图标
                feedbackIcons:{
                    valid:'glyphicon glyphicon-ok',
                    invalid:'glyphicon glyphicon-remove',
                    validating:'glyphicon glyphicon-refresh'
                },
                //校验规则
                fields:{
                    //表单项 表单的name值
                    routeName:{
                        //规则
                        validators:{
                            //非空校验
                            notEmpty:{
                                message:'线路名称不能为空'
                            }
                        }
                    },
                    price: {
                        validators: {
                            notEmpty: {
                                message: '参考价格不能为空'
                            },
                            //数字间隔验证
                            between: {
                                min: '0.0',
                                max: '999999',
                                message: '商品价格超出范围(0.0 - 999999)'
                            }/*,
                            regexp:{
                                regexp:/^\d+(\.\d+)?$/,
                                message:'价格格式不正确'
                            }*/
                        }
                    },
                    routeIntroduce:{
                        validators:{
                            notEmpty:{
                                message:'线路简介不能为空'
                            }
                        }
                    },
                    strategy:{
                        validators:{
                            notEmpty:{
                                message:'攻略不能为空'
                            }
                        }
                    },
                    file:{
                        validators:{
                            notEmpty:{
                                message:'请选择商品图片'
                            }
                        }
                    },
                    sellerId:{
                        validators:{
                            between: {
                                min: '0',
                                max: '999999',
                                message: '请选择所属商家'
                            }
                        }
                    }
                }
            });
            $("#updateRouteForm").bootstrapValidator({
                //根据验证结果显示各种图标
                feedbackIcons:{
                    valid:'glyphicon glyphicon-ok',
                    invalid:'glyphicon glyphicon-remove',
                    validating:'glyphicon glyphicon-refresh'
                },
                //校验规则
                fields:{
                    //表单项 表单的name值
                    routeName:{
                        //规则
                        validators:{
                            //非空校验
                            notEmpty:{
                                message:'线路名称不能为空'
                            }
                        }
                    },
                    price: {
                        validators: {
                            notEmpty: {
                                message: '参考价格不能为空'
                            },
                            //数字间隔验证
                            between: {
                                min: '0.0',
                                max: '999999',
                                message: '商品价格超出范围(0.0 - 999999)'
                            }/*,
                            regexp:{
                                regexp:/^\d+(\.\d+)?$/,
                                message:'价格格式不正确'
                            }*/
                        }
                    },
                    routeIntroduce:{
                        validators:{
                            notEmpty:{
                                message:'线路简介不能为空'
                            }
                        }
                    },
                    strategy:{
                        validators:{
                            notEmpty:{
                                message:'攻略不能为空'
                            }
                        }
                    },
                    file:{
                        validators:{
                            notEmpty:{
                                message:'请选择商品图片'
                            }
                        }
                    },
                    sellerId:{
                        validators:{
                            between: {
                                min: '0',
                                max: '999999',
                                message: '请选择所属商家'
                            }
                        }
                    }
                }
            });
        });

        //查看线路简介
        function showRouteIntroduce(routeIntroduce){

            $("#routeIntroduce-text").html(routeIntroduce);
            $("#routeIntroduceModal").modal("show");
        };

        //查看出行攻略
        function showStrategy(strategy){

            $("#strategy-text").html(strategy);
            $("#strategyModal").modal("show");

        };

        //回显线路信息
        function showRouteInfo(route){
            let path = route.imageUrl;
            $("#update-routeId").val(route.routeId);
            $("#update-route-name").val(route.routeName);
            $("#update-route-price").val(route.price);
            $("#update-route-introduce").val(route.routeIntroduce);
            $("#update-strategy").val(route.strategy);
            $("#img2").attr('src','/backend/route/getImage?path='+path);
            $("#update-seller-type").val(route.sellerId);

        };

        //显示删除模态框
        function showRemoveModel(routeId) {
            $("#removeRouteId").val(routeId);
            $("#removeRouteModel").modal("show");
        };

        //删除
        function removeRoute() {
            let routeId = $("#removeRouteId").val();
            $.post(
                '/backend/route/remove',
                {routeId:routeId},
                function (result) {
                    if (result.code == 200){
                        layer.msg(result.msg,{
                            time: 3000,
                            skin: "successMsg"
                        });
                        setTimeout(function () {
                            location.href = '/backend/route/findAll';
                        },3000);
                    }
                    if (result.code == 500){
                        layer.alert(result.msg);
                    }
                }
            );
        }
    </script>

</head>

<body>
    <div class="panel panel-default" id="userPic">
        <div class="panel-heading">
            <h3 class="panel-title">商品管理</h3>
        </div>
        <div class="panel-body">
            <div class="showRouteSearch">
                <form style="text-align: center" class="form-inline" id="userSearchForm" action="/backend/route/search" method="post">
                    <div class="form-group">
                        <label for="route_name">线路名称:</label>
                        <input id="route_name" type="text" class="form-control" style="width: 200px" name="routeName" placeholder="请输入线路名称" size="15px">
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="seller_id">所属商家:</label>
                        <select id="seller_id" class="form-control" name="sellerId" style="width: 100px">
                            <option value="-1">全部</option>
                        </select>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit"  value="查询" class="btn btn-primary" id="doRouteSearch">
                </form>
            </div>
            <br>
            <input type="button" value="添加商品" class="btn btn-primary" id="doAddRoute">
            <br>
            <br>
            <div class="show-list">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <thead>
                        <tr class="text-danger">
                            <th class="text-center">ID</th>
                            <th class="text-center">线路名称</th>
                            <th class="text-center">参考价格</th>
                            <th class="text-center">所属商家</th>
                            <th class="text-center">创建时间</th>
                            <th class="text-center">查看详情</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr th:each="route:${routeList}">
                            <td th:text="${route.getRouteId()}"></td>
                            <td th:text="${route.getRouteName()}"></td>
                            <td th:text="${route.getPrice()}"></td>
                            <td th:each="seller:${sellerList}" th:if="${route.getSellerId() == seller.getSellerId()}" th:text="${seller.getSellerName()}"></td>
                            <td th:text="${#dates.format(route.getCreateTime(),'YYYY-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center" >
                                <input type="button" class="btn btn-success btn-sm" value="线路简介" th:onclick="showRouteIntroduce([[${route.getRouteIntroduce()}]])">
                                <input type="button" class="btn btn-success btn-sm" value="出行攻略" th:onclick="showStrategy([[${route.getStrategy()}]])">
                            </td>
                            <td class="text-center" >
                                <input type="button" class="btn btn-warning btn-sm doRouteModify" value="修改" th:onclick="showRouteInfo([[${route}]])">
                                <input type="button" class="btn btn-danger btn-sm " value="删除" th:onclick="showRemoveModel([[${route.getRouteId()}]])">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 添加旅游线路 start -->
    <div class="modal fade" tabindex="-1" id="Product">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <form action="/backend/route/add" method="post" class="form-horizontal"
                  id="addRouteForm" enctype ="multipart/form-data">
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">添加旅游线路</h4>
                    </div>
                    <div class="modal-body text-center row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="add-route-name" class="col-sm-4 control-label">线路名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="add-route-name" name="routeName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-price" class="col-sm-4 control-label">参考价格：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="add-route-price" name="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-introduce" class="col-sm-4 control-label">线路简介：</label>
                                <div class="col-sm-8">
                                    <textarea id="add-route-introduce" form="addRouteForm" style="width: 370px" name="routeIntroduce"  rows="4" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-strategy" class="col-sm-4 control-label">出行攻略：</label>
                                <div class="col-sm-8">
                                    <textarea id="add-route-strategy" form="addRouteForm" style="width: 370px" name="strategy"  rows="6" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-image" class="col-sm-4 control-label">商品图片：</label>
                                <div class="col-sm-8">
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" name="fileName" id="add-route-image" >
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-seller-type" class="col-sm-4 control-label">所属商家：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="add-seller-type" name="sellerId" >
                                        <option value="-1">--请选择--</option>
                                        <option th:each="seller:${sellerList}" th:text="${seller.getSellerName()}" th:value="${seller.getSellerId()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- 显示图像预览 -->
                            <img style="width: 160px;height: 180px;" id="img">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">添加</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 添加旅游线路 end -->
    
    <!-- 修改旅游线路 start -->
    <div class="modal fade" tabindex="-1" id="myProduct">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <form action="/backend/route/modify" method="post" id="updateRouteForm"
                  enctype ="multipart/form-data" class="form-horizontal">
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">修改旅游线路</h4>
                    </div>
                    <div class="modal-body text-center row">
                        <!--隐藏域-->
                        <input type="hidden" name="routeId" id="update-routeId">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="update-route-name" class="col-sm-4 control-label">线路名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="update-route-name" name="routeName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="update-route-price" class="col-sm-4 control-label">参考价格：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="update-route-price" name="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="update-route-introduce" class="col-sm-4 control-label">线路简介：</label>
                                <div class="col-sm-8">
                                    <textarea form="updateRouteForm" id="update-route-introduce" style="width: 370px" name="routeIntroduce" rows="4" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="update-strategy" class="col-sm-4 control-label">出行攻略：</label>
                                <div class="col-sm-8">
                                    <textarea form="updateRouteForm" id="update-strategy" style="width: 370px" name="strategy"  rows="6"  ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="update-route-image" class="col-sm-4 control-label">线路图片：</label>
                                <div class="col-sm-8">
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" name="fileName" id="update-route-image">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="update-seller-type" class="col-sm-4 control-label">所属商家：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="update-seller-type" name="sellerId">
                                        <option value="-1">--请选择--</option>
                                        <option th:each="seller:${sellerList}" th:text="${seller.getSellerName()}" th:value="${seller.getSellerId()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- 显示图像预览 -->
                            <img style="width: 160px;height: 180px;" id="img2">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary updateRoute" type="submit">修改</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 修改商品 end -->

    <!-- 显示线路简介 start -->
    <div class="modal fade" tabindex="-1" id="routeIntroduceModal">
        <!-- 窗口声明 modal-lg-->
        <div class="modal-dialog ">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">线路简介</h4>
                </div>
                <div class="modal-body text-center">
                    <h5 id="routeIntroduce-text"></h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary close-route-introduce" data-dismiss="modal">确定</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 显示线路简介 end -->

    <!-- 出行攻略 start -->
    <div class="modal fade" tabindex="-1" id="strategyModal">
        <!-- 窗口声明 modal-lg-->
        <div class="modal-dialog ">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">出行攻略</h4>
                </div>
                <div class="modal-body text-center">
                    <h5 id="strategy-text"></h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary close-strategy" data-dismiss="modal">确定</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 出行攻略 end -->

    <!-- 确认删除 start -->
    <div class="modal fade" tabindex="-1" id="removeRouteModel">
        <!-- 窗口声明 modal-lg-->
        <div class="modal-dialog ">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">信息提示</h4>
                </div>
                <div class="modal-body text-center">
                    <h4>您确认要删除吗?</h4>
                </div>
                <div class="modal-footer">
                    <!--隐藏域存储旅游线路ID-->
                    <input type="hidden" id="removeRouteId">
                    <button class="btn btn-danger doRouteDelete" onclick="removeRoute()" data-dismiss="modal">删除</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 确认删除 end -->
</body>

</html>