<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet"  href="/css/file.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/css/index.css" />
    <script src="/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link rel="stylesheet"  href="/css/bootstrapValidator.css" />
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/zero.css" />
    <script>

        $(function(){
            //上传图像预览
            $('#add-route-image').on('change',function() {
                $('#img').attr('src', window.URL.createObjectURL(this.files[0]));
            });        
            $('#update-route-image').on('change',function() {
                $('#img2').attr('src', window.URL.createObjectURL(this.files[0]));
            });


            //模态框显示
            $(".doProModify").on("click", function() {
                _this = this; //this是事件源
                $("#myProduct").modal("show");
            });

            $(".updatePro").on("click", function() {
                $("#myProduct").modal("hide");
            });


            $("#doAddPro").on("click", function() {
                _this = this; //this是事件源
                $("#Product").modal("show");
            });

            $(".addProduct").on("click", function() {
                $("#Product").modal("hide");
            });
        });


    </script>
    <script type="text/javascript" th:inline="javascript">

    </script>

</head>

<body>
    <div class="panel panel-default" id="userPic">
        <div class="panel-heading">
            <h3 class="panel-title">商品管理</h3>
        </div>
        <div class="panel-body">
            <input type="button" value="添加商品" class="btn btn-primary" id="doAddPro">
            <br>
            <br>
            <div class="show-list">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <thead>
                        <tr class="text-danger">
                            <th class="text-center">编号</th>
                            <th class="text-center">商品</th>
                            <th class="text-center">价格</th>
                            <th class="text-center">产品类型</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr>
                            <td>1</td>
                            <td>手机</td>
                            <td>1999</td>
                            <td>电子产品</td>
                            <td>有效商品</td>
                            <td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm doProModify" value="修改">
                                <input type="button" class="btn btn-warning btn-sm doProDelete" value="删除">
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>平板</td>
                            <td>2999</td>
                            <td>电子产品</td>
                            <td>有效商品</td>
                            <td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm doProModify" value="修改">
                                <input type="button" class="btn btn-warning btn-sm doProDelete" value="删除">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 添加商品 start -->     
    <div class="modal fade" tabindex="-1" id="Product">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <form action="/backend/route/add" method="post" class="form-horizontal" id="addRouteForm" enctype ="multipart/form-data">
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">添加旅游线路</h4>
                    </div>
                    <div class="modal-body text-center row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="add-route-name" class="col-sm-4 control-label">线路名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="add-route-name" name="routeName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-price" class="col-sm-4 control-label">参考价格：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="add-route-price" name="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-introduce" class="col-sm-4 control-label">线路简介：</label>
                                <div class="col-sm-8">
                                    <textarea id="add-route-introduce" form="addRouteForm" style="width: 370px" name="routeIntroduce"  rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-strategy" class="col-sm-4 control-label">攻略：</label>
                                <div class="col-sm-8">
                                    <textarea id="add-route-strategy" form="addRouteForm" style="width: 370px" name="strategy"  rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-route-image" class="col-sm-4 control-label">商品图片：</label>
                                <div class="col-sm-8">
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" name="file" id="add-route-image">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-seller-type" class="col-sm-4 control-label">所属商家：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="add-seller-type" name="sellerId">
                                        <option value="-1">--请选择--</option>
                                        <option th:each="seller:${sellerList}" th:text="${seller.getSellerName()}" th:value="${seller.getSellerId()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- 显示图像预览 -->
                            <img style="width: 160px;height: 180px;" id="img">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">添加</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 添加商品 end -->  
    
    <!-- 修改商品 start -->  
    <div class="modal fade" tabindex="-1" id="myProduct">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <form action="" class="form-horizontal">
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">修改商品</h4>
                </div>
                <div class="modal-body text-center row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="update-route-name" class="col-sm-4 control-label">线路名称：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="update-route-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-route-price" class="col-sm-4 control-label">参考价格：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="update-route-price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-route-introduce" class="col-sm-4 control-label">线路简介：</label>
                            <div class="col-sm-8">
                                <textarea id="update-route-introduce" style="width: 370px" name="introduce" rows="5" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-strategy" class="col-sm-4 control-label">攻略：</label>
                            <div class="col-sm-8">
                                <textarea id="update-strategy" style="width: 370px" name="strategy"  rows="5"  required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-route-image" class="col-sm-4 control-label">线路图片：</label>
                            <div class="col-sm-8">
                                <a href="javascript:;" class="file">选择文件
                                    <input type="file" name="file" id="update-route-image">
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-seller-type" class="col-sm-4 control-label">所属商家：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="update-seller-type">
                                    <option value="-1">--请选择--</option>
                                    <option th:each="seller:${sellerList}" th:text="${seller.getSellerName()}" th:value="${seller.getSellerId()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- 显示图像预览 -->
                        <img style="width: 160px;height: 180px;" id="img2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary updatePro">修改</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- 修改商品 end -->

</body>

</html>