<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/css/index.css" />
    <script src="/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link rel="stylesheet"  href="/css/bootstrapValidator.css" />
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/zero.css" />

    <script type="text/javascript" th:inline="javascript">

    $(function () {
            //TODO:分页
            $("#paginator").bootstrapPaginator({
                bootstrapMajorVersion: 3,  //版本
                currentPage:[[${pageInfo.getPageNum()}]],   //当前页码
                totalPages:[[${pageInfo.getPages()}]],    //总页数
                itemTexts:function (type, page, current) {  //设置显示样式
                    switch (type) {
                        case 'first':
                            return '首页';
                        case 'prev':
                            return '上一页';
                        case 'next':
                            return '下一页';
                        case 'last':
                            return '尾页';
                        case 'page':
                            return page;
                    }
                },
                /*pageUrl:function (type, page, current) {  //设置分页的超链接
                    return '/backend/sysUser/findAll?pageNum='+page;
                }*/
                onPageClicked: function (event,originalEvent,type,page) {
                    $("#pageNum").val(page);
                    $("#sysUserSearchForm").submit();
                }

            });

            //TODO:模态框
            $(".showAddModal").on("click", function() {
                _this = this;
                $("#addSysUserModal").modal("show");
            });
            $(".add-Button").on("click", function() {
                $("#addSysUserModal").modal("hide");
            });

            $(".showUpdateModal").on("click", function() {
                _this = this;
                $("#updateSysUserModal").modal("show");
            });
            $(".update-Button").on("click", function() {
                $("#updateSysUserModal").modal("hide");
            });

        });

        //TODO:回显系统用户信息
        function showSysUserInfo(sysId) {
            $.post(
                '/backend/sysUser/findById',
                {sysId: sysId},
                function (result) {
                    $("#update-sys-name").val(result.data.name);
                    $("#update-sys-username").val(result.data.username);
                    $("#update-sys-password").val(result.data.password);
                    $("#update-sys-email").val(result.data.email);
                    $("#update-sys-phone").val(result.data.phone);
                    $("#update-sys-role").val(result.data.roleId);
                }
            );
        }

        //TODO:新增用户
        function addSysUser() {
            $.post(
                '/backend/sysUser/add',
                $("#addSysUserForm").serialize(),
                function (result) {
                    if (result.code == 500){
                        layer.open({
                            title: '错误提示'
                            ,content: result.msg
                        });
                    }
                    if (result.code == 200){
                        layer.msg(result.msg,{
                            time: 3000,
                            skin: "successMsg"
                        });
                        window.setTimeout(function () {
                            location.href = '/backend/sysUser/findAll';
                        }, 3000);
                    }
                }
            );
        }

        //TODO:修改用户
        function updateSysUser() {
            $.post(
                '/backend/sysUser/modify',
                /*{
                    name: $("#update-sys-name").val(),
                    username: $("#update-sys-username").val(),
                    password: $("#update-sys-password").val(),
                    email: $("#update-sys-email").val(),
                    roleId: $("#update-sys-role").val()
                }*/
                $("#updateSysUserForm").serialize(),
                function (result) {
                    if (result.code == 500){
                        layer.open({
                            title: '错误提示'
                            ,content: result.msg
                        });
                    }
                    if (result.code == 200){
                        layer.msg(result.msg,{
                            time: 3000,
                            skin: "successMsg"
                        });
                        window.setTimeout(function () {
                            location.href = '/backend/sysUser/findAll';
                        }, 3000);
                    }
                }
            );
        }

        //TODO:修改状态
        function modifyStatus(sysId,btn) {
            $.post(
                '/backend/sysUser/modifyStatus',
                {sysId: sysId},
                function (result) {
                    //TODO:局部刷新页面
                    if (result.code == 200) {
                        layer.alert(result.msg);
                        let statusType = $(btn).parent().parent().children().eq(4);
                        if (statusType.text().trim()=='有效'){
                            statusType.text("无效");
                            $(btn).val("启用").removeClass("btn-danger").addClass("btn-success");
                        }else {
                            statusType.text("有效");
                            $(btn).val("禁用").removeClass("btn-success").addClass("btn-danger");
                        }
                    }
                    if (result.code == 500){
                        layer.open({
                            title: '错误提示'
                            ,content: result.msg
                        });
                    }
                }
            );
        }
    </script>
</head>

<body>
    <!-- 系统用户管理 -->
    <div class="panel panel-default" id="adminSet">
        <div class="panel-heading">
            <h3 class="panel-title">系统用户管理</h3>
        </div>
        <div class="panel-body">
            <div class="showSearch">
                <form class="form-inline" id="sysUserSearchForm" action="/backend/sysUser/search" method="post">
                    <!--当前页码-->
                    <input id="pageNum" type="hidden" name="pageNum" th:value="${pageInfo.getPageNum()}">
                    <div class="form-group">
                        <label for="name">姓名:</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${sysUserDTO.getName()}" placeholder="请输入用户姓名">
				    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="username">帐号:</label>
                        <input type="text" class="form-control" id="username" th:value="${sysUserDTO.getUsername()}" name="username" placeholder="请输入帐号">
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="role">角色</label>
                            <select class="form-control" name="roleId" id="role">
                                <option value="-1" >全部</option>
                                <option th:selected="${sysUserDTO.getRoleId() == 1}" value="1">超级管理员</option>
                                <option th:selected="${sysUserDTO.getRoleId() == 2}" value="2">客户管理员</option>
                                <option th:selected="${sysUserDTO.getRoleId() == 3}" value="3">服务商</option>
                            </select>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label for="status">状态</label>
                            <select class="form-control" name="isActive" id="status">
                                <option value="-1">全部</option>
                                <option th:selected="${sysUserDTO.getIsActive() == 1}" value="1">有效</option>
                                <option th:selected="${sysUserDTO.getIsActive() == 0}" value="0">无效</option>
                            </select>
                    </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="submit" value="查询" class="btn btn-primary" id="doSearch">
				</form>
            </div>
            <br>
            <input type="button" value="添加系统用户" class="btn btn-primary showAddModal" id="addBtn">
            <div class="show-list" style="position: relative; top: 10px;">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <thead>
                        <tr class="text-danger">
                            <th class="text-center">编号</th>
                            <th class="text-center">用户姓名</th>
                            <th class="text-center">登录帐号</th>
                            <th class="text-center">邮箱</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">注册时间</th>
                            <th class="text-center">角色</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr th:each="sysUser:${pageInfo.getList()}">
                            <td th:text="${sysUser.getSysId()}"></td>
                            <td th:text="${sysUser.getName()}"></td>
                            <td th:text="${sysUser.getUsername()}"></td>
                            <td th:text="${sysUser.getEmail()}"></td>

                            <td th:if="${sysUser.getIsActive()==1}">有效</td>
                            <td th:if="${sysUser.getIsActive()==0}">无效</td>
                            <td th:text="${#dates.format(sysUser.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}"></td>

                            <td th:if="${sysUser.getRoleId()==1}">超级管理员</td>
                            <td th:if="${sysUser.getRoleId()==2}">客户管理员</td>
                            <td th:if="${sysUser.getRoleId()==3}">服务商</td>

                            <td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm showUpdateModal" th:onclick="showSysUserInfo([[${sysUser.getSysId()}]])" value="修改">
                                <input th:if="${sysUser.getIsActive()==1}" type="button" class="btn btn-danger btn-sm doMangerDisable" th:onclick="modifyStatus([[${sysUser.getSysId()}]],this)" value="禁用">
                                <input th:if="${sysUser.getIsActive()==0}" type="button" class="btn btn-success btn-sm doMangerDisable" th:onclick="modifyStatus([[${sysUser.getSysId()}]],this)" value="启用">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- 分页条 使用前端的分页js插件 -->
            <div class="text-center">
                <ul id="paginator"></ul>
                <div class=""><strong>共[[${pageInfo.getTotal()}]]条记录</strong></div>
            </div>
        </div>
    </div>

    <!-- 添加系统用户 start -->
    <div class="modal fade" tabindex="-1" id="addSysUserModal">
        <!-- 窗口声明 -->
        <div class="modal-dialog">
            <form id="addSysUserForm">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">添加系统用户</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row text-right">
                            <label for="add-sys-name" class="col-sm-4 control-label">用户姓名：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="add-sys-name" name="name" placeholder="不能为空">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="add-sys-username" class="col-sm-4 control-label">登录帐号：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="add-sys-username" name="username" placeholder="不能为空">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="add-sys-password" class="col-sm-4 control-label">登录密码：</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="add-sys-password" name="password" placeholder="密码长度限制(6~20)">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="add-sys-email" class="col-sm-4 control-label">电子邮箱：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="add-sys-email" name="email" placeholder="xxx@xxx.xxx">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="add-sys-role" class="col-sm-4 control-label">角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色：</label>
                            <div class=" col-sm-4">
                                <select id="add-sys-role" class="form-control" name="roleId">
                                    <option value="2">客户专员</option>
                                    <option value="1">超级管理员</option>
                                    <option value="3">服务商</option>
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary add-Button" type="button" onclick="addSysUser()">添加</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal" type="button">取消</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- 添加系统用户 end -->

    <!-- 修改系统用户 start -->
    <div class="modal fade" tabindex="-1" id="updateSysUserModal">
        <!-- 窗口声明 -->
        <div class="modal-dialog">
            <form id="updateSysUserForm">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">系统用户修改</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row text-right">
                            <label for="update-sys-name" class="col-sm-4 control-label">用户姓名：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="update-sys-name" name="name" placeholder="不能为空">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="update-sys-username" class="col-sm-4 control-label">登录帐号：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="update-sys-username" name="username" placeholder="不可修改" readonly>
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="update-sys-password" class="col-sm-4 control-label">登录密码：</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="update-sys-password" name="password" placeholder="密码长度限制(6~20)">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="update-sys-email" class="col-sm-4 control-label">电子邮箱：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="update-sys-email" name="email" placeholder="xxx@xxx.xxx">
                            </div>
                        </div>
                        <br>
                        <div class="row text-right">
                            <label for="update-sys-role" class="col-sm-4 control-label">角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色：</label>
                            <div class=" col-sm-4">
                                <select id="update-sys-role" class="form-control" name="roleId">
                                    <option value="1">超级管理员</option>
                                    <option value="2">客户专员</option>
                                    <option value="3">服务商</option>
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary update-Button" type="button" onclick="updateSysUser()">修改</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 修改系统用户 end -->

</body>

</html>