<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet"  href="/css/index.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link rel="stylesheet"  href="/css/bootstrapValidator.css" />
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/zero.css" />
    <script type="text/javascript" th:inline="javascript">
        $(function () {

            //TODO:分页
            $("#paginator").bootstrapPaginator({
                bootstrapMajorVersion: 3,  //版本
                currentPage:[[${pageInfo.getPageNum()}]],   //当前页码
                totalPages:[[${pageInfo.getPages()}]],    //总页数
                itemTexts:function (type, page, current) {  //设置显示样式
                    switch (type) {
                        case 'first':
                            return '首页';
                        case 'prev':
                            return '上一页';
                        case 'next':
                            return '下一页';
                        case 'last':
                            return '尾页';
                        case 'page':
                            return page;
                    }
                },
                /*pageUrl:function (type, page, current) {  //设置分页的超链接
                    return '/backend/user/findAll?pageNum='+page;
                }*/
                onPageClicked: function (event,originalEvent,type,page) {
                    $("#pageNum").val(page);
                    $("#userSearchForm").submit();
                }
            });
        });

        //TODO:修改状态
        function modifyStatus(userId, btn) {
            $.post(
                '/backend/user/modifyStatus',
                {userId:userId},
                function (result) {
                    layer.alert(result.msg);
                    if (result == 200){
                        layer.alert(result.msg);
                        //当前元素父元素的上一个同级元素
                        let statusType = $(btn).parent().prev();
                        if (statusType.text().trim()=='有效'){
                            statusType.text("无效");
                            $(btn).val("启用").removeClass("btn-danger").addClass("btn-success");
                        }else {
                            statusType.text("有效");
                            $(btn).val("禁用").removeClass("btn-success").addClass("btn-danger");
                        }
                    }
                    if (result == 500){
                        layer.open({
                           title: "错误提示",
                           content: result.msg
                        });
                    }
                }
            );
        }
    </script>
</head>

<body>
    <div class="panel panel-default" id="homeSet">
        <div class="panel-heading">
            <h3 class="panel-title">客户管理</h3>
        </div>
        <div class="panel-body">
            <div class="showusersearch">
                <form class="form-inline" id="userSearchForm" action="/backend/user/search" method="post">

                    <input id="pageNum" type="hidden" name="pageNum" th:value="${pageInfo.getPageNum()}">
                  <div class="form-group">
                    <label for="customer_name">姓名:</label>
                    <input type="text" class="form-control"id="customer_name" th:value="${userDTO.getName()}" name="name" placeholder="请输入姓名" size="15px">
                  </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-group">
                    <label for="customer_loginName">帐号:</label>
                    <input type="text" class="form-control" id="customer_loginName" name="username" th:value="${userDTO.getUsername()}" placeholder="请输入帐号" size="15px">
                  </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-group">
                    <label for="customer_isValid">状态:</label>
                        <select class="form-control" id="customer_isValid" name="status" >
                            <option value="-1" th:selected="${userDTO.getStatus() == -1}">全部</option>
                            <option value="1" th:selected="${userDTO.getStatus() == 1}">有效</option>
                            <option value="0" th:selected="${userDTO.getStatus() == 0}">无效</option>
                        </select>
                  </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="submit" value="查询" class="btn btn-primary" id="doSearch">
                </form>
            </div>
            
            <div class="show-list" style="position: relative;top: 30px;">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <thead>
                        <tr class="text-danger">
                            <th class="text-center">序号</th>
                            <th class="text-center">姓名</th>
                            <th class="text-center">帐号</th>
                            <th class="text-center">邮箱</th>
                            <th class="text-center">注册时间</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr th:each="user:${pageInfo.getList()}">
                            <td th:text="${user.getUserId()}"></td>
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${#dates.format(user.getCreateTime())}"></td>
                            <td th:if="${user.getStatus() == 1}">有效</td>
                            <td th:if="${user.getStatus() == 0}">无效</td>
                            <td class="text-center">
                                <input th:if="${user.getStatus() == 0}" type="button" class="btn btn-success btn-sm doModify" th:onclick="modifyStatus([[${user.getUserId()}]],this)" value="启用">
                                <input th:if="${user.getStatus() == 1}" type="button" class="btn btn-danger btn-sm doModify" th:onclick="modifyStatus([[${user.getUserId()}]],this)" value="禁用">
                                <input type="button" class="btn btn-warning btn-sm doDisable"  value="重置密码">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--分页条-->
            <div class="text-center">
                <ul id="paginator"></ul>
                <div class=""><strong>共[[${pageInfo.getTotal()}]]条记录</strong></div>
            </div>
        </div>
    </div>

    <!-- 修改客户信息 start -->
    <div class="modal fade" tabindex="-1" id="myModal">
        <!-- 窗口声明 -->
        <div class="modal-dialog">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">修改客户</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row text-right">
                        <label for="id" class="col-sm-4 control-label">编号：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="id">
                        </div>
                    </div>
                    <br>
                    <div class="row text-right">
                        <label for="name" class="col-sm-4 control-label">姓名：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <br>
                    <div class="row text-right">
                        <label for="loginName" class="col-sm-4 control-label">帐号：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="loginName">
                        </div>
                    </div>
                    <br>
                    <div class="row text-right">
                        <label for="phone" class="col-sm-4 control-label">电话：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="phone">
                        </div>
                    </div>
                    <br>
                    <div class="row text-right">
                        <label for="adrees" class="col-sm-4 control-label">地址：</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="adrees">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary updateOne">修改</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改客户信息 end -->
</body>

</html>